<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Career Guidence</title>
    <link href="./static/css/style.css" rel="stylesheet" media="all">
</head>
<body>
    <div class="wrapper nav_wrapper">
        <div class="navbar">
            <div class="logo" background-color="black" >
                <h2 class="logo_title">Career Guidence</h2>
            </div>
            <a href="./index">HOME</a>
            <a href="./skills">SKILLS</a>
            <a href="./about">ABOUT</a>
            
            <a href="/logout" class="">LOGOUT</a>
            
        <div class="menu" method="post">     
    </div>
            <div class="bar">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
        <div class="container">
            <br/><p>&nbsp;&nbsp;&nbsp;&nbsp;Welcome to Career Guidance, your personalized career exploration platform!</p><br/><br/> 
            <h4>OUR MISSION:</h4>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;At Career Guidance, our mission is to empower individuals like you to make informed decisions about your career path. We understand that choosing a career can be daunting, which is why we're here to provide guidance and support every step of the way.</p>
            <br/> 
            <h4>WHAT WE OFFER:</h4>
            <ul>
                <li><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Personalized Career Recommendations:</strong> Our platform utilizes machine learning algorithms to analyze your interests, skills, and preferences, and provides tailored recommendations for suitable career paths.</li>
                <li><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Comprehensive Domain Coverage:</strong> Whether you're interested in technology, healthcare, finance, or any other domain, Career Guidance covers a wide range of career options to help you find your passion.</li>
                <li><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Interactive Questionnaires:</strong> Explore different career domains through interactive questionnaires designed to assess your interests and strengths.</li>
            </ul>

            <br/> 
            <h4>WHO WE ARE:</h4>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;Career Guidance is developed by a team of passionate developers and data scientists dedicated to helping individuals navigate their professional journey. We believe that everyone deserves to pursue a fulfilling and rewarding career, and we're committed to providing the tools and resources to make that possible.</p>
            <br/> 
            <h4>GET IN TOUCH:</h4>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;Have questions or feedback? We'd love to hear from you! Feel free to reach out to our team at <a href="sudhagarrajendiran3@gmail.com">sudhagarrajendiran3@gmail.com</a> for any inquiries or suggestions.</p>
        
            <p>Thank you for choosing Career Guidance for your career exploration needs. We're excited to be a part of your journey!</p>
        </div>
    </div>

</body>
</html>