<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Display</title>
    <link href="{{ url_for('static', filename='skills.css') }}" rel="stylesheet" media="all">
    <link rel="stylesheet" href="skills.css">
</head>
<body>
    <!-- Header with Navigation Bar -->
    <header>
        <nav>
            <ul>
                <li><a href="/index">Home</a></li>
                <li><a href="skill.html">Courses</a></li>
                <!-- <li><a href="#">About</a></li> -->
            </ul>
        </nav>
    </header>

    <!-- Course Display Section -->
    <h1>Front-end Development</h1>
    <section class="course-container">
        <div class="course-1">
            <!-- <h2>HTML</h2> -->
            <a href="https://www.w3schools.com/html/default.asp"><img src="https://imgs.search.brave.com/ZQU-MkRkdq-1ljR-_IZqd49IlyEGRo9ZOBza2f56iiE/rs:fit:500:0:0/g:ce/aHR0cHM6Ly93d3cu/dzNyZXNvdXJjZS5j/b20vdzNyX2ltYWdl/cy9odG1sNV9pbWFn/ZS5wbmc" alt="" width="250px" height="250px"></a>
        </div>

        <div class="course-1">
            <!-- <h2>CSS</h2> -->
            <a href="https://www.w3schools.com/css/default.asp"> <img src="https://imgs.search.brave.com/_L-kl-i8i-UK9FO7hwiZAqQB_NchiM9Hvfx_75-lW0A/rs:fit:500:0:0/g:ce/aHR0cHM6Ly8xMDAw/bG9nb3MubmV0L3dw/LWNvbnRlbnQvdXBs/b2Fkcy8yMDIwLzA5/L0NTUy1Mb2dvLTUw/MHgzMTMucG5n" alt="" width="250px" height="250px"></a>
        </div>
       
        <div class="course-1">
            <!-- <h2>Java Script</h2> -->
            <a href="https://www.w3schools.com/js/default.asp"> <img src="https://imgs.search.brave.com/tdvYQAi7z_PSnK1o7YAbCJcpfKVUCWSNoukkhS3pNL4/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9jZG4u/d29ybGR2ZWN0b3Js/b2dvLmNvbS9sb2dv/cy9qYXZhc2NyaXB0/LTEuc3Zn.svg" alt="" width="250px" height="250px"></a>
        </div>

    </section>

    <h1>Back-end Development</h1>
    <section class="course-container">
        <div class="course-2">
            <!-- <h2>Java</h2> -->
            <a href="https://www.w3schools.com/java/default.asp"> <img src="https://imgs.search.brave.com/KJJo5F6RnXbAlEpgO7yDtFhaiySENQmvNdqSBuQ9QYo/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9icmFu/ZHNsb2dvcy5jb20v/d3AtY29udGVudC91/cGxvYWRzL2ltYWdl/cy9qYXZhLWxvZ28t/MS5wbmc" alt="" width="250px" height="250px"></a>
            
        </div>

        <div class="course-2">
            <!-- <h2>Python</h2> -->
            <a href="https://www.w3schools.com/python/default.asp"> <img src="https://imgs.search.brave.com/sDXS3IWHlItL53Dwu4oDtG8-5ydhvhQW28ByBeYMru8/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9hc3Nl/dHMuc3RpY2twbmcu/Y29tL2ltYWdlcy81/ODQ4MTUyZmNlZjEw/MTRjMGI1ZTQ5Njcu/cG5n" alt="Python" width="250px" height="250px"></a>
        </div>
       
        <div class="course-2">
            <!-- <h2>C++</h2> -->
            <a href="https://www.w3schools.com/cpp/default.asp"> <img src="https://imgs.search.brave.com/eNG89cOdpNFrMO8Ez0sV-gVn1yxoYDKY-YigwS8fa3Q/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9yYXcu/Z2l0aHVidXNlcmNv/bnRlbnQuY29tL2lz/b2NwcC9sb2dvcy9t/YXN0ZXIvY3BwX2xv/Z28ucG5n" alt="C++" width="250px" height="250px"></a>
        </div>

        <div class="course-2">
            <!-- <h2>PHP</h2> -->
            <a href="https://www.w3schools.com/php/default.asp"> <img src="https://imgs.search.brave.com/9PVdsG2Pzi3l3tTd553sPPtZPzwK5nxcnL8YEK-ATao/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9jbGlw/YXJ0LWxpYnJhcnku/Y29tL2ltYWdlc19r/L3BocC1sb2dvLXRy/YW5zcGFyZW50L3Bo/cC1sb2dvLXRyYW5z/cGFyZW50LTMucG5n" alt="PHP" width="250px" height="250px"></a>
        </div>
    </section>

    <h1>Database</h1>
    <section class="course-container">
        <div class="course-3">
            <!-- <h2>MySQL</h2> -->
            <a href="https://www.w3schools.com/mysql/default.asp"> <img src="https://imgs.search.brave.com/0WCCyZYc0sjo3NmU0j1AAAb51_S4cnFxq0b4-_nwDYQ/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9icmFu/ZHNsb2dvcy5jb20v/d3AtY29udGVudC91/cGxvYWRzL2ltYWdl/cy9teXNxbC1sb2dv/LTEucG5n" alt="MySQL" width="250px" height="250px"></a>
            
        </div>

        <div class="course-3">
            <!-- <h2>Course 2</h2> -->
            <a href="https://www.w3schools.com/mongodb/index.php"> <img src="https://imgs.search.brave.com/02OJXSgCV6D1weI3yrJpFEgxBDWCx4-9Z7m97Kiw7PA/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9kd2ds/b2dvLmNvbS93cC1j/b250ZW50L3VwbG9h/ZHMvMjAxNy8xMi9N/b25nb0RCX2xvZ28u/cG5n" alt="mangoDB" width="250px" height="250px"></a>
        </div>
       
        <div class="course-3">
            <!-- <h2>Course 3</h2> -->
            <a href="https://www.w3schools.com/postgresql/index.php"> <img src="https://imgs.search.brave.com/ns1byqFuR6MjVCA7t_rs_SZHWrMFoHtjFoXktVNrkpo/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9zdGF0/aWMtMDAuaWNvbmR1/Y2suY29tL2Fzc2V0/cy4wMC9wb3N0Z3Jl/c3FsLW9yaWdpbmFs/LXdvcmRtYXJrLWlj/b24tMjU2eDI1NC1p/c3RoNTRoaC5wbmc" alt="" width="250px" height="250px"></a>
        </div>

    </section>

    <h1>Machine Learning</h1>
    <section class="course-container">
        <div class="course-4">
            <!-- <h2>Course 1</h2> -->
            <a href="https://www.geeksforgeeks.org/machine-learning/"> <img src="https://imgs.search.brave.com/Le2RctppEjtK-jWTxJcs4XmCWMJPAYyrUSUjOatS_k4/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9pMC53/cC5jb20vbmVwdHVu/ZS5haS93cC1jb250/ZW50L3VwbG9hZHMv/MjAyMi8xMC9vcGVu/Y3YtMS5wbmc_c3Ns/PTE" alt="" width="250px" height="250px"></a>
            
        </div>
    </section>

    <h1>Design Courses</h1>
    <section class="course-container">
        <div class="course-6">
            <h2>Course 1</h2>
            <a href=""> <img src="" alt="" width="250px" height="250px"></a>
            
        </div>

        <div class="course-6">
            <h2>Course 2</h2>
            <a href=""> <img src="" alt="" width="250px" height="250px"></a>
        </div>
       
        <div class="course-6">
            <h2>Course 3</h2>
            <a href=""> <img src="" alt="" width="250px" height="250px"></a>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <p>&copy; Carrer Guidence</p>
    </footer>
</body>
</html>
